---
import { getCollection } from "astro:content";
import { Image } from "astro:assets"
import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import CertificateCard from "@/components/CertificateCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import TestimonialCard from "@/components/TestimonialCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import presentation from "@/data/presentation";
import projects from "@/data/projects";
import testimonials from "@/data/testimonials";
const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});

const certifications = (await getCollection("certifications")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main class="flex flex-col gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <Image
            src={presentation.profile}
            class="w-1/4 self-center rounded-full"
            alt="Your Profile"
            width="200"
            height="200"
          />
        )
      }

      <div class="flex flex-col gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>

        <h2
          class="w-auto max-w-[60ch] leading-6"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />

        <SocialLinks />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Latest posts</h3>
        <Link href="/posts" label="See all posts" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          Selected Projects ({projects.length})
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Certifications</h3>
        <Link href="/certifications" label="See all certifications" isUnderline target="_self" />
      </header>
      {certifications.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          certifications.length !== 0 &&
            certifications
              .slice(0, 2)
              .map((certifications) => (
                <CertificateCard
                  publishedAt={certifications.data.publishedAt}
                  title={certifications.data.title}
                  description={certifications.data.description}
                  slug={certifications.slug}
                />
              ))
        }
      </section>
    </article>

    <div
    class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
  >
    <div class="flex flex-col gap-4 md:flex-row md:items-center">
      <p class="text-neutral-100 centered-text"> Technical Skills</p>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
        <div class="skill-item p-4 text-center shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold mb-2">Data Analysis (Python & R)</h3>
          <p>Advanced</p>
        </div>
        <div class="skill-item p-4 text-center shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold mb-2">Machine Learning & AI</h3>
          <p>Intermediate</p>
        </div>
        <div class="skill-item p-4 text-center shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold mb-2">Full Stack Web Development</h3>
          <p>Intermediate</p>
        </div>
        <div class="skill-item p-4 text-center shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold mb-2">Cloud Computing</h3>
          <p>Beginner</p>
        </div>
        <div class="skill-item p-4 text-center shadow-lg rounded-lg">
          <h3 class="text-xl font-semibold mb-2">Blockchain Development</h3>
          <p>Beginner</p>
        </div>
        <!-- Add more skills as needed -->
      </div>
    </div>

  </div>


    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          Testimonials ({testimonials.length})
        </h3>
      </header>
      {testimonials.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          testimonials.length !== 0 &&
          testimonials.map((testimonials) => <TestimonialCard {...testimonials} />)
        }
      </section>
    </article>

    

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
      </header>
      <p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>
      
      <a
        class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href= "#"
        target="_blank"
        rel="noreferrer"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <p class="text-neutral-100 centered-text">Download Resume</p>

        </div>

        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
      <SocialLinks />
    </article>
  </main>
</Layout>


<style>
  .centered-text {
    text-align: center;
  }
</style>
